In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame({'ID_alumno': [1,1,2,3,3,2,4],
                   'Materia': ['Matematica', 'Fisica', 'Matematica','Quimica','Matematica','Fisica','Algebra']})
df

   ID_alumno     Materia
0          1  Matematica
1          1      Fisica
2          2  Matematica
3          3     Quimica
4          3  Matematica
5          2      Fisica
6          4     Algebra

In [3]:
pd.get_dummies(df).groupby(['ID_alumno'], as_index=True).sum()

,Materia_Algebra,Materia_Fisica,Materia_Matematica,Materia_Quimica
ID_alumno,,,,
1,0,1,1,0
2,0,1,1,0
3,0,0,1,1
4,1,0,0,0