In [1]:
import numpy as np
import pandas as pd

In [2]:
resultado = pd.DataFrame({'Resultado':['Piedra','Papel','Tijera','Papel','Papel','Tijera','Piedra']})
resultado

  Resultado
0    Piedra
1     Papel
2    Tijera
3     Papel
4     Papel
5    Tijera
6    Piedra

In [3]:
# k variables
pd.concat([resultado['Resultado'],
           pd.get_dummies(resultado['Resultado'])], axis=1).head()

  Resultado  Papel  Piedra  Tijera
0    Piedra      0       1       0
1     Papel      1       0       0
2    Tijera      0       0       1
3     Papel      1       0       0
4     Papel      1       0       0

In [5]:
# k-1 variables
pd.concat([resultado['Resultado'],
           pd.get_dummies(resultado['Resultado'], drop_first = True)],
          axis=1).head()

  Resultado  Piedra  Tijera
0    Piedra       1       0
1     Papel       0       0
2    Tijera       0       1
3     Papel       0       0
4     Papel       0       0